*{
    padding: 0;
    margin: 0;
    background-origin: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#parent{
    width: 1200px;
    height: 1200px;
    border: 5px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.child{
    background-color: green;
    border: 1px solid blue; 
}