table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:first-child {
    background-color: #333;
    color: white;
    font-weight: bold;
}

ol {
    list-style-position: inside;
    list-style-type: upper-alpha;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    border: 2px solid blue;
}
input[type="email"] {
    border: 2px solid green;
}
input[type="password"] {
    border: 2px solid red;
}
input[type="submit"] {
    background-color: orange;
}

.lemon {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 50px;

    position: relative;
    margin:auto;
}