body {
    background-image: url("https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/459246064_879861704207994_904867157516540427_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=7Pwb_E82FcsQ7kNvgE0H-tR&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=A6Y4tvdqUUTbxVcOdMQsEoA&oh=00_AYCxWRslEER1Da68Da-9FLCMiEW-_jqOq1pOt7e4vpSAmg&oe=6759C86C");
    background-position: center;
    background-size:cover;
}

h1{
    text-align:center;
    color:rgb(0, 0, 190);
    font-family:'Brush Script MT', cursive;
    font-size:60px;
}

p0{
    position:relative;
    right:-5px;
    bottom:-5px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

a{
    position: relative;
    left: -30px;
    color:rgb(0, 0, 122);
    text-decoration: underline;
}

p{
    position: relative;
    left:-67px;
    bottom:-15px;
    color: rgb(0, 0, 0);
}

p1{
    position: relative;
    left:-55px;
    color: rgb(0, 0, 0);
}

button{
    font-size: 19px;
    text-align: center;
    position:relative;
    right:-723px;
    top:-113px;
    background-color: #3c49ff;
    border-radius: 15px;
}

button:hover{
    color:rgb(0, 255, 0)
}


.login-box {
    background: rgb(255, 193, 193);
    padding: 40px 15px 85px 15px;
    /* top right bottom left    */
    border-radius: 12px;
    text-align: center;
    width: 17%;
}