@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", serif;
}

body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.top{
  display: flex;
  justify-content: space-between;
}

.tleft{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tleft h1{
  font-size: 55px;
  width: 400px;
  color: hsl(300, 43%, 22%);
}

.tleft p{
  color: hsl(303, 10%, 53%);
  line-height: 1.5;
  font-size: 17px;
  font-weight: 500;
}

.tright{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 530px;
  justify-content: center;
}

.stars {
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 30px;
  gap: 30px ;
  border-radius: 10px;
  width: 450px;
}

.star{
  display: flex;
  gap: 10px;  
}

.stars p{
  color: hsl(300, 43%, 22%);
  font-weight: 800;
}

.left{
  display: flex;
  justify-content: flex-start;
}

.center{
  display: flex;
  justify-content: center;
}

.right{
  display: flex;
  justify-content: flex-end;
}

.cards{
  display: flex;
  gap: 30px;
  height: 275px;
}

.card{
  width: 400px;
  background-color: hsl(300, 43%, 22%);
  padding: 40px 30px;
  width: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.pfp{
  display: flex;
  gap: 20px;
  align-items: center;
}

.pfp div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pfp img{
  width: 45px;
  height: max-content;
  border-radius: 100%;
}

.pfp h1{
  color: white;
  font-size: 15px;
}

.pfp p{
  color: hsla(333, 80%, 67%, 0.705);
  font-weight: 400;
  font-size: 15px;
}

.p{
  font-size: 17px;
  color: hsl(300, 24%, 96%);
  line-height: 1.3
}

.up{
  display: flex;
  align-items: flex-start;
}

.mid{
  display: flex;
  align-items: center;
}

.low{
  display: flex;
  align-items: flex-end;
}